{
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "css",
    "parser": "typescript",
    "bracketSameLine": true
}
