/* Set position of image layers in Rat mirror. */
.rat--piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.closet--pieces {
  list-style-type: none;
}

.closet--pieces li {
  background: #777799;
  border-radius: 0.35rem;
  overflow: hidden;
}

.closet--pieces li {
  background: #77779933;
  border-radius: 0.35rem;
  overflow: hidden;
}

.piece--title {
  text-transform: capitalize;
}

/* Checkboxes for removing items in the closet */
.checkboxmoji {
  label {
    cursor: pointer;

    &:before {
      background: rgba(200,255,225,0.8);
      border: 1px solid #222222;
      border-radius: 0.5rem;
      color: '#16C60C';
      content: '✔';
      display: inline-block;
      font-size: 10px;
      height: 18px;
      margin-right: 0.25rem;
      padding: 1px;
      text-align: center;
      width: 18px;
    }
  }

  input:checked ~ label:before {
    background: rgba(255,210,210,0.8);
    content: '❌';
  }
}