.rr {
    &Page {
        &--sewer {
            &-green {
                background-color: #5aeaaf;
                background-image: url('/rat-race/images/bg-sewer-green-bottom.png'), url('/rat-race/images/bg-sewer-green-top.png');
                background-position: bottom right, top left;
                background-repeat: no-repeat, no-repeat;
                background-size: 100%, 100%;
            }
        }
    }
}