@tailwind base;
@tailwind components;
@tailwind utilities;

/** Fix issue with Next image component adding space below images **/
.imgfix > div > div {
    display: block !important;
}

.ratvatar {
    width: 60rem;
    height: 60rem;

    &-lg {
        width: 200px;
        height: 200px;
    }
}